/class_indices.json
/config.php
/contact.php
/dashboard.php
/diagnosis.php
/diseases.php
/esp32_images
/index.php
/kassaliklar
/login.php
/logout.php
/main.py
/rasm
/requirements.txt
/server.py
/static
/style.css
/tashhis.php
/tekshirish
/telegram.php
/uploads
/venv
/xabar.php